<!DOCTYPE html>
<html>
<body>

<h2>Time and Date</h2>
<p id="demo"></p>
<h2>Time and Date 2</h2>
<p id="demo2"></p>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("demo").innerHTML = this.responseText;
      document.getElementById("demo2").innerHTML = this.responseText;
}
  };
  xhttp.open("GET", "http://10.66.14.140:9999", true);
  xhttp.send();
}
setInterval(loadDoc, 1000)

</script>

</body>
</html>

